# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
*/venv/
*/.venv/

# Environment variables
.env
.env.*

# ML artifacts
*.pkl
*.joblib

# OS files
.DS_Store

# IDE
.vscode/
.idea/
